mixin main-nav()

  nav.main-nav
    ul.main-nav__list
      li.main-nav__item
        svg.main-nav__sale-icon(width="25" height="25")
          use(xlink:href="img/sprite-svg.svg#main-nav__sale")
        a.main-nav__link(href="#", title="Новые предложения")
          | Новые <br>предложения
      li.main-nav__item
        svg.main-nav__places-icon(width="27" height="26")
          use(xlink:href="img/sprite-svg.svg#main-nav__places")
        a.main-nav__link(href="#", title="Каталог заведений")
          | Каталог <br>заведений
