.DS_Store
node_modules/
build/*
!build/readme.md
dist/
design/
src/blocks/sprite-svg/img/sprite-svg.svg
src/blocks/sprite-png/img
src/blocks/sprite-png/sprite-png.scss

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Misc
*.log
*.sublime-*
*.rar
*.zip
*.7z
.idea
.publish
ex_files
Thumbs.db
__MACOSX/
.Saved/
_arc/
