.page-header {
  display: flex;
  justify-content: center;
  z-index: 1051;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  position: fixed;

  @media (min-width: $screen-md) {
    position: static;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $screen-lg) {
    min-height: 110px;
    padding-top: 19px;
    padding-bottom: 20px;
  }

  &__container {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;

    @media (min-width: $screen-sm) {
      margin: 0 67px;
    }

    @media (min-width: $screen-md) {
      margin: 0;
      width: 994px;
      align-items: center;
      justify-content: flex-start;
    }

    @media (min-width: $screen-lg) {
      width: 1260px;
    }
  }

  &__logo-wrap {
    display: flex;

    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  &__logo {
    width: 110px;
    height: 23px;
    align-self: center;
    display: block;

    @media (min-width: $screen-lg) {
      width: 150px;
      height: 31px;
      margin-top: 10px;
    }
  }

  &__logo-img {
    width: 100%;
  }

  &__location {
    display: none;

    @media (min-width: $screen-md) {
      display: flex;
      order: 1;
      align-items: center;
    }

    @media (min-width: $screen-lg) {
      order: 0;
    }
  }

  &__location-icon {

    @media (min-width: $screen-md) {
      display: none;
    }

    @media (min-width: $screen-lg) {
      display: inline-block;
      width: 11px;
      height: 16px;
    }
  }

  &__location-info {
    @media (min-width: $screen-md) {
      display: none;
    }

    @media (min-width: $screen-lg) {
      display: inline-block;
      margin-left: 5px;
    }
  }

  &__location-city {
    color: #ff0101;
    position: relative;

    @media (min-width: $screen-md) {
      margin-left: 19px;
    }

    @media (min-width: $screen-lg) {
      margin-left: 10px;
    }

    &:hover {
      color: #ff0101;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px dotted #d0021b;
    }
  }

  &__search {
    display: none;
    align-items: center;

    @media (min-width: $screen-md) {
      position: relative;
      display: flex;
      margin-left: 60px;
    }

    @media (min-width: $screen-lg) {
      margin-left: 86px;
    }

    &--show {
      position: absolute;
      z-index: 1;
      display: flex;
      width: 100%;
      justify-content: space-between;

      input {
        width: 244px;
        width: calc(100% - 75px);
        height: 50px;
        flex: 1;
        border: 0;
        border-bottom: 1px solid #d8d8d8;

        padding-left: 41px;
        padding-right: 15px;
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }
  }

  &__input {
    background-color: #ffffff;
    width: 100%;
    height: 50px;

    @media (min-width: $screen-md) {
      border-radius: 34px;
      padding: 15px 45px 15px 15px;
      height: 34px;
      width: 295px;
      box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    }

    @media (min-width: $screen-lg) {
      width: 304px;
    }

    &:focus {
      outline: 0;
    }
  }

  &__submit {
    position: absolute;
    right: 10px;
    top: 8px;
    background-color: transparent;
    border-color: transparent;
    border: none;

    &:focus {
      outline: 0;
    }

    svg {
      border: none;
      fill: #FF0101;
    }

    &--show {
      right: auto;
      left: 10px;
      top: 15px;

      svg {
        fill:#a5a5a5;
      }
    }
  }

  &__submit-icon {
    width: 14px;
    height: 14px;
  }

  &__search-icon {
    background-color: transparent;
    border-color: transparent;
    border: 0;
    margin-left: 14px;
    padding: 0;

    svg {
      border: none;
      fill: #FF0101;
    }

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__cancel {
    display: none;
    font-family: Arial;
    font-size: 14px;
    color: #969696;

    background-color: #fff;
    border: 0;
    border: 1px solid #d8d8d8;
    border-top: none;
    width: 75px;
    height: 50px;

    &:hover {
      color: #969696;
      background-color: #fff;
    }

    &:active {
      color: #969696;
      background-color: #fff;
    }

    &--show {
      display: inline-block !important;
    }
  }

  &__nav {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  &__socials {
    display: none;
    @media (min-width: $screen-lg) {
      display: flex;
      align-items: center;
    }
  }

  &__btn {
    display: none;

    &:hover {
      color: #fefefe;
      font-weight: bold;
    }

    @media (min-width: $screen-md) {
      display: none;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      align-items: center;
      margin-right: 80px;
    }
  }

  &__login {
    position: relative;

    @media (min-width: $screen-md) {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__login-link {
    color: #787878;

    @media (min-width: $screen-sm) {
      display: flex;
      align-items: center;
    }
  }

  &__login-name {
    display: none;

    @media (min-width: $screen-sm) {
      display: inline;
      align-items: center;
      width: 87px;
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; // Многоточие
    }
  }

  &__avatar {
    width: 100%;
  }

  &__avatar-wrap {
    height: 26px;
    width: 26px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;

    &--red-border {
      border: 1px solid #ff0000;
    }

    &--gray-border {
      // border: 1px solid #b6b6b6;
      // padding-top: 5px;
      // padding-left: 3px;
    }
  }

  &__login-dropdown {
    width: 12px;
    height: 7px;
    display: none;
    @media (min-width: $screen-sm) {
      display: flex;
      align-items: center;
    }
  }

  &__login-menu {
    left: 50% !important;
    top: 32px !important;
    transform: translateX(-85%) !important;

    @media (min-width: $screen-sm) {
      transform: translateX(-50%) !important;
    }
  }

  &__menu {
    display: flex;
    margin-left: 10px;

    .menu-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        height: 2px;
        width: 22px;
        margin-bottom: 5px;
        background-color: #f00;
        display: inline-block;
      }
    }

    @media (min-width: $screen-md) {
      display: none;
    }
  }
}
