mixin page-header(name)
  header.page-header
    .page-header__container
      +modal-select()

      .page-header__menu
        .menu-btn
          span
          span
          span
        button.page-header__search-icon
          svg.page-header__submit-icon(width="14" height="14")
            use(xlink:href="img/sprite-svg.svg#page-header__submit-icon")

      .page-header__logo-wrap
        .page-header__location
          svg.page-header__location-icon(width="11" height="16")
            use(xlink:href="img/sprite-svg.svg#page-header__location")
          span.page-header__location-info Город
          a.page-header__location-city.callModalLocation(href="#") Москва
        .page-header__logo
          img.page-header__logo-img(width="150" height="31" src="img/page-header__logo-img.svg", alt="hot kupon")

      form.page-header__search(action="")
        input#pageHeaderSearch.page-header__input(type="text" name="header_search" autocomplete="off")
        button.page-header__submit(type="submit")
          svg.page-header__submit-icon(width="14" height="14")
            use(xlink:href="img/sprite-svg.svg#page-header__submit-icon")
        button.page-header__cancel
          | Отмена

      .page-header__nav
        +main-nav()

      .page-header__socials.socials
        +socials()

      .page-header__btn
        a.btn(href="#")
          | Подписаться

      if (name == "Константин")
        .page-header__login
          a.page-header__login-link#dropdownMenuLink(href="#", title="Константин" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            span.page-header__login-name
              | Константин
            .page-header__avatar-wrap
              img.page-header__avatar(width="26" height="26" src="http://via.placeholder.com/26x26", alt="Константин")
            svg.page-header__login-dropdown(width="12" height="7")
              use(xlink:href="img/sprite-svg.svg#page-header__login-dropdown")

          .dropdown-menu.page-header__login-menu.login-menu#pageHeaderLoginMenu
            a.dropdown-item.login-menu__item(href="#")
              | Настройки
            a.dropdown-item.login-menu__item(href="#")
              | Подписки
            a.dropdown-item.login-menu__item(href="#")
              | Избранное
            a.dropdown-item.login-menu__item(href="#")
              | Ваши отзывы
            a.dropdown-item.login-menu__item.login-menu__log-out-item(href="#")
              | Выйти
              svg.page-header__log_out(width="14" height="13")
                use(xlink:href="img/sprite-svg.svg#page-header__log_out")

      else if (name == "Админ")
        .page-header__login
          a.page-header__login-link#dropdownMenuLink(href="#", title="Админ" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            span.page-header__login-name
              | Админ
            .page-header__avatar-wrap.page-header__avatar-wrap--red-border
              img.page-header__avatar(width="26" height="26" src="img/page-header__avatar-admin.svg", alt="Админ")
              //- svg.page-header__avatar-admin(width="14" height="14")
              //-   use(xlink:href="img/sprite-svg.svg#page-header__avatar-admin")
            svg.page-header__login-dropdown(width="12" height="7")
              use(xlink:href="img/sprite-svg.svg#page-header__login-dropdown")

          .dropdown-menu.page-header__login-menu.login-menu#pageHeaderLoginMenu
            a.dropdown-item.login-menu__item(href="#")
              | Настройки
            a.dropdown-item.login-menu__item(href="#")
              | Подписки
            a.dropdown-item.login-menu__item(href="#")
              | Избранное
            a.dropdown-item.login-menu__item(href="#")
              | Ваши отзывы
            a.dropdown-item.login-menu__item.login-menu__log-out-item(href="#")
              | Выйти
              svg.page-header__log_out(width="14" height="13")
                use(xlink:href="img/sprite-svg.svg#page-header__log_out")

      else
        .page-header__login
          a.page-header__login-link#callAuthModal(href="#" title="Войти" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            span.page-header__login-name
              | Войти
            .page-header__avatar-wrap.page-header__avatar-wrap--gray-border
              svg.page-header__log_in(width="26" height="26")
                use(xlink:href="img/sprite-svg.svg#page-header__log_in")
