extends templates/layout.pug

block meta
  title Home
  meta(name='description', content='')

//- block append head
  //- link(rel="stylesheet", href="style.min.css")

block page-header
  +page-header("Админ")

block side-nav
  +side-nav(true)

block extra-blocks
  +extra-food()
  +extra-places()

block top-panel
  +top-panel("Все купоны со скидками в одном месте", "Популярные категории", true, false, false)

block append top-panel-edit
  +top-panel-edit("Админ")

block main-content
  +main-content-index()

//- block append page-bottom
  //- script(src='some.js')
