.page-title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.block {
  background-color: #ff7;
  height: 100px;
  margin-bottom: 10px;

  &__item {
    height: 100px;
    background-color: pink;
  }
}
.block:nth-child(2n) {
  background-color: #f9f;
}
